<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.thestyleofme.datax.server.infra.mapper.DataxSyncMapper">
  <resultMap id="BaseResultMap" type="com.github.thestyleofme.datax.server.domain.entity.DataxSync">
    <result column="sync_id" jdbcType="BIGINT" property="syncId" />
    <result column="sync_name" jdbcType="VARCHAR" property="syncName" />
    <result column="sync_type" jdbcType="VARCHAR" property="syncType" />
    <result column="source_datasource_type" jdbcType="VARCHAR" property="sourceDatasourceType" />
    <result column="source_datasource_code" jdbcType="VARCHAR" property="sourceDatasourceCode" />
    <result column="source_schema" jdbcType="VARCHAR" property="sourceSchema" />
    <result column="source_table" jdbcType="VARCHAR" property="sourceTable" />
    <result column="write_datasource_type" jdbcType="VARCHAR" property="writeDatasourceType" />
    <result column="write_datasource_code" jdbcType="VARCHAR" property="writeDatasourceCode" />
    <result column="write_schema" jdbcType="VARCHAR" property="writeSchema" />
    <result column="write_table" jdbcType="VARCHAR" property="writeTable" />
    <result column="source_object_type" jdbcType="VARCHAR" property="sourceObjectType" />
    <result column="query_sql" jdbcType="VARCHAR" property="querySql" />
    <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
    <result column="setting_info" jdbcType="VARCHAR" property="settingInfo" />
    <result column="object_version_number" jdbcType="BIGINT" property="objectVersionNumber" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="created_by" jdbcType="INTEGER" property="createdBy" />
    <result column="last_updated_by" jdbcType="INTEGER" property="lastUpdatedBy" />
    <result column="last_update_date" jdbcType="TIMESTAMP" property="lastUpdateDate" />
  </resultMap>
</mapper>